<head>
  <title>dev</title>
</head>

<body>
  <div class="top-bar">
    <div class="top-bar-left">MyFirstMeteorApp</div>
    <div class="top-bar-right">{{> loginButtons align="right"}}</div>
  </div>


  {{> img_gallery}}
</body>

<template name="img_gallery">
  <section class="gallery">
    {{#each images}}
      <img class="thumbnail" src="{{img_src}}" alt="{{img_alt}}" />
    {{/each}}
  </section>
</template>