/* CSS declarations go here */

@import '{zurb:foundation-sites}/scss/foundation';
@include foundation-everything;


.gallery {
  counter-reset: images;
}

img {
  position: relative;
  display: inline-block;
  vertical-align: top;

  max-height: 300px;
  width: auto;
}